@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
  background-color: #3b3e45;
  color: #f1f5f9;
  overflow: hidden;
}

/* Canvas del Grafo */
#network-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

/* Effetto di transizione pannello laterale */
#side-panel {
  transition: transform 0.3s cubic-bezier(0.16, 1, 0.3, 1);
  z-index: 10;
}

#side-panel.closed {
  transform: translateX(100%);
}

/* Scrollbar personalizzata per il pannello */
.custom-scroll::-webkit-scrollbar {
  width: 6px;
}
.custom-scroll::-webkit-scrollbar-track {
  background: #0f172a;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 3px;
}